
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 

} 

body{
    background-color: white !important;
    display: flex ; 
    align-content: center ; 
    justify-content: center; 

}
.box  {
    background-color: black !important;
    color: white; 
    padding: 30px !important; 
    border-radius: 5px; 
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 30px;
    width: 700px !important;
} 

input {
    width: 50% !important; 
    margin-bottom: 8px !important;
    
} 

h4 , p {
    text-align: center;
} 

#output {
    margin-top: 30px; 
} 

#dataList {
    list-style: none; 
} 

li , .btns {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 5px !important; 
    
}  

.btns button{
    margin-left: 6px !important;
}

